<div  class="parallax" fxFlex fxFlex.md
fxFlex.sm
fxFlex.xs></div>


<div class="container"  fxLayout="row" fxLayoutAlign="center"
style="position: absolute;top:855px; width:100%;"
  fxLayoutGap="30px" >
    <mat-card class="box" ></mat-card>
    <mat-card class="box"  ></mat-card>
    <mat-card class="box"  ></mat-card>
   
</div>



<div  style="position: absolute;top:1100px; width:100%;"  >
<mat-card>
    <marquee behavior="scroll" onmouseover="this.stop();" onmouseup="this.start();">
        <span fxLayout fxLayoutGap="10px">
            <img src="assets/microsoft.PNG" alt="" height="50px" style="margin: 2px">
            <img src="assets/Capgemini.PNG" alt="" height="50px">
            <img src="assets/Cognizent.PNG" alt="" height="50px">
            <img src="assets/wipro1.PNG" alt="" height="50px">
            <img src="assets/Google.PNG" alt="" height="50px">
            <img src="assets/wipro1.PNG" alt="" height="50px">
            <img src="assets/Google.PNG" alt="" height="50px">
        </span>
    </marquee>
</mat-card>
</div>
